* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: #3486eb;
}


button:hover {
    background-color: #3486eb;
}


main {
    flex: 1;
    padding: 2% 4%;
}


.post {
    margin-bottom: 2%;
    line-height: 150%;
}


.card-text {
    margin-top: 40px;
}

.post-description {
    font-weight: bold;
}

.dashboard-greeting {
    font-weight: bold;
    text-transform: capitalize;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    position: absolute;
    bottom: 0%;
    width: 100vw;
}