* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-image: url(../images/ChoreBuddy-bg.jpg);
}

a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: #3486eb;
}

.btn a {
    font-weight: normal;
}

button:hover {
    background-color: #3486eb;
}

.navbar a {
    margin-left: 5px;
    margin-right: 5px;
}


main {
    flex: 1;
    padding: 1% 4%;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}


.listing-title,
.listing-user {
    text-transform: capitalize;
}

.card-text {
    margin-top: 40px;
}

.post-description {
    font-weight: bold;
}

.dashboard-greeting {
    font-weight: bold;
    text-transform: capitalize;
}

.homepage-greeting {
    text-align: center;
    margin-bottom: 10px;
}

.homepage-logo {
    padding-bottom: 20px;
}

.homepage-greeting h2 {
    font-weight: bold;
    padding-bottom: 20px;
}

.reviews-header {
    text-align: center;
}

.review-card {
    text-align: center;
}

.navbar {
    background-color: #b4d18e;
    border-bottom: 1px solid #ccc;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    border-top: 1px solid #ccc;
    background-color: #b4d18e;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    position: relative;
}